/********************************************************
VARIABLES
********************************************************/
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px;
}

.main--hide {
  height: 0px !important;
  opacity: 0 !important;
  overflow: hidden !important;
}

.hero-section--hide {
  display: none !important;
}

.navbar--hide {
  height: 0 !important;
  opacity: 0 !important;
  overflow: hidden !important;
}

.main {
  opacity: 1;
  -webkit-transition: opacity 0.45s;
  transition: opacity 0.45s;
}

hr {
  margin-top: -1%;
  width: 20vw;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #0C0F20;
}

/********************************************************
HERO SECTION
********************************************************/
.hero-section {
  background-color: #0C0F20;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "logo logo logo logo . . . header header header header ."
 ". . . . . . . paragraph paragraph button button .";
  height: 100vh;
  margin: 0;
  padding: 0;
}

.hero-section__header {
  color: white;
  -ms-grid-row: 1;
  -ms-grid-column: 8;
  -ms-grid-column-span: 4;
  grid-area: header;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.hero-section__paragraph {
  color: white;
  -ms-grid-row: 2;
  -ms-grid-column: 8;
  -ms-grid-column-span: 2;
  grid-area: paragraph;
}

.hero-section__logo {
  color: white;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: logo;
  font-size: 29vw;
}

.hero-section__button {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  -ms-grid-column-align: center;
      justify-self: center;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 28px;
  color: white;
  font-size: 1.6rem;
  -ms-grid-row: 2;
  -ms-grid-column: 10;
  -ms-grid-column-span: 2;
  grid-area: button;
  padding: 0.65rem 4rem;
  position: relative;
  -webkit-transition: all 0.45s;
  transition: all 0.45s;
}

.hero-section__button:hover {
  background-color: #b1bce6;
  border: 2px solid #b1bce6;
  color: #0C0F20;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

.hero-section__button:focus {
  outline: none;
}

.hero-section__button:active {
  border-radius: 22px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

/********************************************************
NAVBAR SECTION
********************************************************/
.navbar {
  overflow: hidden;
  height: 100vh;
  width: 10%;
  position: fixed;
  z-index: 9999;
  right: 0;
  top: 0;
  background-color: white;
  opacity: 1;
  -webkit-transition: opacity 0.45s;
  transition: opacity 0.45s;
}

.navbar__nav__item {
  color: #0C0F20;
  text-decoration: none;
}

.navbar__nav__item:hover {
  font-weight: 600;
}

.navbar__header {
  text-align: center;
}

li {
  margin: 20px 0px;
  display: block;
}

/********************************************************
SKILLS SECTION
********************************************************/
.skills {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  padding: 3vw 3vw;
  width: 85%;
}

.skills__i-can-do-section {
  position: relative;
  grid-auto-flow: row;
}

.skills__header {
  text-align: center;
  font-size: 22px;
  margin: 15% 0 15% 0;
}

.skills__main-header {
  text-align: center;
  margin-top: 5%;
  font-size: 30px;
}

.skills__i-can-do-section p {
  opacity: 0;
  position: relative;
  -webkit-animation-name: slowSlideToLeft;
          animation-name: slowSlideToLeft;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

@-webkit-keyframes slowSlideToLeft {
  0% {
    left: -30px;
    opacity: 0.2;
  }
  100% {
    left: 10px;
    opacity: 1;
  }
}

@keyframes slowSlideToLeft {
  0% {
    left: -30px;
    opacity: 0.2;
  }
  100% {
    left: 10px;
    opacity: 1;
  }
}

.skills__i-love-section {
  position: relative;
  grid-auto-flow: row;
}

.skills__i-love-section p {
  opacity: 0;
  position: relative;
  -webkit-animation-name: slowSlideToRight;
          animation-name: slowSlideToRight;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

@-webkit-keyframes slowSlideToRight {
  0% {
    right: -45px;
    opacity: 0;
  }
  100% {
    right: -10px;
    opacity: 1;
  }
}

@keyframes slowSlideToRight {
  0% {
    right: -45px;
    opacity: 0;
  }
  100% {
    right: -10px;
    opacity: 1;
  }
}

/********************************************************
ABOUT ME SETION
********************************************************/
.about-me {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 9fr;
      grid-template-columns: 3fr 9fr;
  height: 35vh;
  background-color: #0C0F20;
}

.about-me__profile-picture {
  height: 35vh;
  right: -3vw;
  top: 4vh;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  position: relative;
  border-radius: 100%;
}

.about-me__text-section {
  color: white;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1.2em;
  padding-right: 18%;
  padding-left: 10%;
}

/********************************************************
PORTFOLIO SECTION
********************************************************/
.portfolio {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 30vw))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 30vw));
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  min-height: 350px;
  height: 50vh;
}

.portfolio__main-header {
  text-align: center;
  font-size: 30px;
  margin: 10% 0 2% 0;
}

.portfolio--glass {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 19vw;
  height: 17vw;
  min-height: 250px;
  min-width: 250px;
  border-radius: 2px 2px 2px 2px;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
  background: rgba(177, 188, 230, 0.5);
}

.portfolio__first-section {
  background-image: url("../images/weatherapp.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.portfolio__second-section {
  background-image: url("../images/todolist.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
}

.portfolio__third-section {
  background-image: url("../images/dianellmorava.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.portfolio__inner-content {
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-weight: 600;
  text-align: center;
}

.portfolio__inner-content:hover {
  opacity: 1;
  background: #0C0F20;
  color: white;
  border-radius: 7px;
}

.portfolio__inner-content__header {
  margin-top: 0;
  padding-top: 35%;
  font-size: 1.5em;
  margin-bottom: 8%;
}

.portfolio__link, .portfolio__link:visited, .portfolio__link:hover, .portfolio__link:active {
  text-decoration: none;
}

.item-description {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 2;
      grid-template-rows: 2;
  background-color: rgba(177, 188, 230, 0.5);
  margin-left: 12.5%;
  width: 65%;
  opacity: 0;
  height: 0px;
  overflow: hidden;
}

.item-description__header {
  text-align: center;
}

.item-description__paragraph {
  padding: 1.5vw;
}

.link {
  -webkit-text-decoration: underline black;
          text-decoration: underline black;
  color: #0C0F20;
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 15px;
}

.visible_tooltip {
  opacity: 1 !important;
  overflow: inherit !important;
  margin-bottom: 3%;
  height: auto;
  border-radius: 2px;
  background-color: rgba(212, 212, 212, 0.425);
  -webkit-transition: height 0.25s opacity 0.45s;
  transition: height 0.25s opacity 0.45s;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(33, 0, 64, 0.15), 0px 0px 2px 0px rgba(33, 0, 64, 0.4);
          box-shadow: 0px 0px 4px 0px rgba(33, 0, 64, 0.15), 0px 0px 2px 0px rgba(33, 0, 64, 0.4);
}

/********************************************************
PORTFOLIO CAROUSEL SECTION
********************************************************/
.carousel {
  display: none;
  position: relative;
  height: 60vh;
  width: 80%;
  margin: 5vh auto;
}

.carousel__button {
  height: 94%;
  background: rgba(0, 0, 0, 0.01);
  border: none;
  width: 20%;
  font-size: 2.5rem;
  color: #385c85;
  cursor: pointer;
}

.carousel__button:focus {
  outline: none;
  background: rgba(0, 0, 0, 0.04);
}

.carousel__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel__track-container {
  background: transparent;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.carousel__track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  -webkit-transition: -webkit-transform 250ms ease-in;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
}

.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel__button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.carousel__button--right {
  right: 0;
}

.carousel__button--left {
  left: 0;
  z-index: 9999;
}

.is-hidden {
  display: none;
}

.carousel__porfolio-item--first {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 2px 2px 2px 2px;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
  background-image: url("../images/todolist.jpg");
  background-size: 100% 100%;
}

.carousel__porfolio-item--second {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 2px 2px 2px 2px;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
  background-image: url("../images/weatherapp.jpg");
  background-size: 100% 100%;
}

.carousel__porfolio-item--third {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 2px 2px 2px 2px;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
  background-image: url("../images/dianellmorava.jpg");
  background-size: 100% 100%;
}

/********************************************************
CONTACT SECTION
********************************************************/
.contact {
  background-color: #0C0F20;
  color: white;
  height: 40vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 2;
      grid-template-rows: 2;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  padding-bottom: 2vh;
}

.contact__header-section {
  grid-column: 1/-1;
  font-size: 1.3rem;
  padding-top: 1.2vw;
  padding-left: 3rem;
  height: 15vh;
}

.contact__main-paragraph {
  padding-left: 3rem;
}

.contact__section {
  text-align: center;
  margin-left: -12vw;
}

.contact__section__child-header {
  font-size: 1rem;
}

.contact__icons {
  width: 3rem;
  background-color: white;
}

/********************************************************
FOOTER SECTION
********************************************************/
.footer {
  margin: 0;
  padding: 0;
  background-color: #0C0F20;
  color: white;
  z-index: 999999999999999;
}

.footer__author {
  margin: 0;
  margin-right: 11.5%;
  text-align: end;
}

.footer--hide {
  display: none;
}

/********************************************************
MEDIA QUERIES - 1100px
********************************************************/
@media only screen and (max-width: 1150px) {
  /********************************************************
    HERO SECTION
    ********************************************************/
  .hero-section {
    -ms-grid-rows: 8fr 1fr 2fr 1fr;
        grid-template-rows: 8fr 1fr 2fr 1fr;
        grid-template-areas: "logo logo logo logo . header header header header header . ."
 ". . . . . paragraph paragraph paragraph paragraph . . ."
 ". . . . . button button . . . . .";
  }
  .hero-section__logo {
    font-size: 22em;
  }
  .hero-section__button {
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    -ms-grid-column-align: center;
        justify-self: center;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 28px;
    color: white;
    font-size: 1.6rem;
    -ms-grid-row: 3;
    -ms-grid-column: 6;
    -ms-grid-column-span: 2;
    grid-area: button;
    padding: 0.85rem 5rem;
    position: relative;
    -webkit-transition: all 0.15s;
    transition: all 0.15s;
  }
  .hero-section__button:hover {
    background-color: #b1bce6;
    border: 2px solid #b1bce6;
    color: #0C0F20;
    -webkit-transition: all 0.15s;
    transition: all 0.15s;
  }
  /********************************************************
    NAVBAR SECTION
    ********************************************************/
  .navbar {
    display: none;
  }
  /********************************************************
    ABOUT ME SETION
    ********************************************************/
  .about-me {
    height: 22vw;
  }
  .about-me__profile-picture {
    height: 22vw;
  }
  .about-me__text-section {
    font-size: 15px;
    padding-right: 16%;
  }
  /********************************************************
    PORTFOLIO SECTION
    ********************************************************/
  .portfolio {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(265px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-template-rows: auto;
    height: 20rem;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  .item-description {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 2;
        grid-template-rows: 2;
    background-color: rgba(177, 188, 230, 0.5);
    margin-left: 12.5%;
    width: 75%;
  }
  .item-description__header {
    text-align: center;
  }
  .item-description__paragraph {
    padding: 1.5vw;
  }
  .item-description--hide {
    display: none;
  }
  /********************************************************
    CONTACT SECTION
    ********************************************************/
  .contact {
    background-color: #0C0F20;
    color: white;
    height: 40vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 2;
        grid-template-rows: 2;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    padding-bottom: 2vh;
  }
  .contact__header-section {
    grid-column: 1/-1;
    font-size: 1.3rem;
    padding-top: 1.2vw;
    padding-left: 3rem;
    height: 15vh;
  }
  .contact__main-paragraph {
    padding-left: 3rem;
  }
  .contact__section {
    text-align: center;
    margin-left: 0vw;
  }
  .contact__section__child-header {
    font-size: 1rem;
  }
  .contact__icons {
    width: 3rem;
    background-color: white;
  }
  /********************************************************
    FOOTER SECTION
    ********************************************************/
  .footer__author {
    margin-right: 5.5%;
  }
}

/********************************************************
MEDIA QUERIES - 800px
********************************************************/
@media only screen and (max-width: 800px) {
  /********************************************************
    Skills SETION
    ********************************************************/
  .skills {
    padding: 0vw 7vw;
    margin-bottom: 10vw;
  }
  /********************************************************
    ABOUT ME SETION
    ********************************************************/
  .about-me {
    height: 40vw;
  }
  .about-me__text-section {
    font-size: 18px;
  }
  .about-me__profile-picture {
    height: 23vw;
    top: 6vh;
    right: -5vw;
  }
  /********************************************************
    PORTFOLIO SETION
    ********************************************************/
  .portfolio {
    display: none;
  }
  .portfolio__inner-content__header {
    margin-top: 0;
    padding-top: 35%;
    font-size: 2.5em;
    margin-bottom: 8%;
  }
  .item-description {
    display: none;
  }
  .carousel {
    display: block;
    height: 80vw;
    width: 80vw;
    margin-bottom: 20vw;
  }
  .link--carousel {
    color: white;
    -webkit-text-decoration: underline white;
    text-decoration: underline white;
    font-size: 1rem;
    font-weight: 400;
  }
  /********************************************************
    CONTACT SETION
    ********************************************************/
  .contact {
    height: 29vh;
  }
}

/********************************************************
MEDIA QUERIES - 420px
********************************************************/
@media only screen and (max-width: 420px) {
  .hero-section {
        grid-template-areas: "logo logo logo logo . . . . . . . ."
 ". . . header header header header header header header header header"
 ". . . . . . paragraph paragraph paragraph paragraph paragraph ."
 ". . . . . button button . . . . .";
  }
  .hero-section__logo {
    font-size: 16em;
  }
  .skills {
    padding: 0vw 2vw;
    margin-bottom: 20vw;
  }
  .skills__main-header {
    margin-bottom: 1%;
  }
  .chartjs-render-monitor {
    height: 200px !important;
    width: 398px !important;
    margin-left: -13%;
  }
  .about-me {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    height: 90vw;
  }
  .about-me__profile-picture {
    display: none;
  }
  .about-me__text-section {
    font-size: 1rem;
  }
  .carousel {
    width: 100vw;
    height: 100vw;
  }
  .portfolio__inner-content__header {
    font-size: 1.5em;
  }
  .contact {
    height: 34vh;
  }
  /********************************************************
    CONTACT SECTION
    ********************************************************/
  .contact {
    height: 40vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    padding-bottom: 2vh;
  }
  .contact__header-section {
    grid-column: 1/-1;
    font-size: 1.1rem;
    padding-top: 1.2vw;
    padding-left: 1rem;
    height: 17vh;
  }
  .contact__section {
    margin-left: 0vw;
  }
  .contact__section__child-header {
    display: none;
  }
  .contact__icons {
    width: 3rem;
    background-color: white;
  }
  .contact__section--email {
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
    grid-column: 1 /-1;
  }
}

/********************************************************
MEDIA QUERIES - 333px
********************************************************/
@media only screen and (max-width: 333px) {
  .hero-section {
        grid-template-areas: "logo logo logo logo . . . . . . . ."
 ". header header header header header header header header header header ."
 ". . . . . . paragraph paragraph paragraph paragraph paragraph ."
 ". . . . . button button . . . . .";
  }
  .hero-section__logo {
    font-size: 14em;
  }
  .about-me {
    height: 120vw;
    font-size: 0.9rem;
  }
  .contact {
    height: 50vh;
  }
}
/*# sourceMappingURL=style.css.map */