/********************************************************
VARIABLES
********************************************************/
$mainDarkCollor: #0C0F20;
$mainLightCollor:rgb(255, 255, 255);
$secondaryLightCollor: rgb(177, 188, 230);
$secondaryLightCollorOPA50: rgba(177, 188, 230, 0.5);
$fontTypeMainRoboto: 'Roboto Condensed',
sans-serif;
$fontTypeMontserrat: 'Montserrat',
sans-serif;
$fontTypeRaleway: 'Raleway',
sans-serif;
$fontTypeOpenSans: 'Open Sans',
sans-serif;
$taskFontSize: 20px;
$animationTime: 0.45s;
$imageTodoList: "../images/todolist.jpg";
$imageWeatherApp: "../images/weatherapp.jpg";
$imageDianellMorava: "../images/dianellmorava.jpg";

body {
    margin: 0;
    padding: 0;
    font-family: $fontTypeMontserrat;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;
}

.main--hide {
    height: 0px !important;
    opacity: 0 !important;
    overflow: hidden !important;
}

.hero-section--hide {
    display: none !important;
}

.navbar--hide {
    height: 0 !important;
    opacity: 0 !important;
    overflow: hidden !important;
}

.main {
    opacity: 1;
    transition: opacity $animationTime;
}

hr {
    margin-top: -1%;
    width: 20vw;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid $mainDarkCollor;
}

/********************************************************
HERO SECTION
********************************************************/

.hero-section {
    background-color: $mainDarkCollor;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "logo logo logo logo . . . header header header header ."
        ". . . . . . . paragraph paragraph button button ."
    ;

    height: 100vh;
    margin: 0;
    padding: 0;

    &__header {
        color: $mainLightCollor;
        grid-area: header;
        align-self: end;
    }

    &__paragraph {
        color: $mainLightCollor;
        grid-area: paragraph;
    }

    &__logo {
        color: $mainLightCollor;
        grid-area: logo;
        font-size: 29vw;
    }

    &__button {
        align-self: start;
        justify-self: center;
        background-color: transparent;
        border: 2px solid $mainLightCollor;
        border-radius: 28px;
        color: $mainLightCollor;
        font-size: 1.6rem;
        grid-area: button;
        padding: 0.65rem 4rem;
        position: relative;
        transition: all $animationTime;
    }

    &__button:hover {
        background-color: $secondaryLightCollor;
        border: 2px solid $secondaryLightCollor;
        color: $mainDarkCollor;
        transition: all 0.15s;
    }

    &__button:focus {
        outline: none;
    }

    &__button:active {
        border-radius: 22px;
        transition: all 0.25s;
    }
}


/********************************************************
NAVBAR SECTION
********************************************************/

.navbar {
    overflow: hidden;
    height: 100vh;
    width: 10%;
    position: fixed;
    z-index: 9999;
    right: 0;
    top: 0;
    background-color: $mainLightCollor;
    opacity: 1;
    transition: opacity $animationTime;

    &__nav__item {
        color: $mainDarkCollor;
        text-decoration: none;
    }

    &__nav__item:hover {
        font-weight: 600;
    }

    &__header {
        text-align: center;
    }
}

li {
    margin: 20px 0px;
    display: block;
}




/********************************************************
SKILLS SECTION
********************************************************/

.skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: auto;
    padding: 3vw 3vw;
    width: 85%;


    &__i-can-do-section {
        //  top: -3vw;
        position: relative;
        grid-auto-flow: row;
    }

    &__header {
        text-align: center;
        font-size: 22px;
        margin: 15% 0 15% 0;
    }

    &__main-header {
        text-align: center;
        margin-top: 5%;
        font-size: 30px;
    }

    &__i-can-do-section p {
        opacity: 0;
        position: relative;
        animation-name: slowSlideToLeft;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        animation-delay: 1s;
        animation-timing-function: ease;
    }

    @keyframes slowSlideToLeft {
        0% {
            left: -30px;
            opacity: 0.2;
        }

        100% {
            left: 10px;
            opacity: 1;
        }

    }

    &__i-love-section {
        position: relative;
        grid-auto-flow: row;

    }

    &__i-love-section p {
        opacity: 0;
        position: relative;
        animation-name: slowSlideToRight;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        animation-delay: 1s;
        animation-timing-function: ease;
    }

    @keyframes slowSlideToRight {
        0% {
            right: -45px;
            opacity: 0;
        }

        100% {
            right: -10px;
            opacity: 1;
        }
    }
}




/********************************************************
ABOUT ME SETION
********************************************************/

.about-me {
    display: grid;
    grid-template-columns: 3fr 9fr;
    height: 35vh;
    background-color: $mainDarkCollor;

    &__profile-picture {
        height: 35vh;
        right: -3vw;
        top: 4vh;
        object-fit: scale-down;
        position: relative;
        border-radius: 100%;
    }

    &__text-section {
        color: $mainLightCollor;
        align-self: center;
        font-size: 1.2em;
        padding-right: 18%;
        padding-left: 10%;
    }
}



/********************************************************
PORTFOLIO SECTION
********************************************************/


.portfolio {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 30vw));
    grid-template-rows: auto;
    min-height: 350px;
    height: 50vh;

    &__main-header {
        text-align: center;
        font-size: 30px;
        margin: 10% 0 2% 0;
    }

    &--glass {
        justify-self: center;
        align-self: center;
        width: 19vw;
        height: 17vw;
        min-height: 250px;
        min-width: 250px;
        border-radius: 2px 2px 2px 2px;
        box-shadow:
            0 2px 6px rgba(0, 0, 0, 0.5),
            inset 0 1px rgba(255, 255, 255, 0.3),
            inset 0 10px rgba(255, 255, 255, 0.2),
            inset 0 10px 20px rgba(255, 255, 255, 0.25),
            inset 0 -15px 30px rgba(0, 0, 0, 0.3);
        background: $secondaryLightCollorOPA50;
    }

    &__first-section {
        background-image: url($imageWeatherApp);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    &__second-section {
        background-image: url($imageTodoList);
        background-repeat: no-repeat;
        background-size: cover;
        display: inline-block;
    }

    &__third-section {
        background-image: url($imageDianellMorava);
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__inner-content {
        height: 100%;
        opacity: 0;
        transition: all 0.2s ease;
        font-weight: 600;
        text-align: center;
    }

    &__inner-content:hover {
        opacity: 1;
        background: $mainDarkCollor;
        color: $mainLightCollor;
        border-radius: 7px;
    }

    &__inner-content__header {
        margin-top: 0;
        padding-top: 35%;
        font-size: 1.5em;
        margin-bottom: 8%;
    }

    &__link,
    &__link:visited,
    &__link:hover,
    &__link:active {
        text-decoration: none;
    }
}

.item-description {
    display: grid;
    grid-template-rows: 2;
    background-color: $secondaryLightCollorOPA50;
    margin-left: 12.5%;
    width: 65%;
    opacity: 0;
    height: 0px;
    overflow: hidden;

    &__header {
        text-align: center;
    }

    &__paragraph {
        padding: 1.5vw;
    }
}

.link {
    text-decoration: underline black;
    color: $mainDarkCollor;
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 15px;
}

.visible_tooltip {
    opacity: 1 !important;
    overflow: inherit !important;
    margin-bottom: 3%;
    height: auto;
    border-radius: 2px;
    background-color: rgba(212, 212, 212, 0.425);
    transition: height 0.25s opacity 0.45s;
    box-shadow: 0px 0px 4px 0px rgba(33, 0, 64, 0.15), 0px 0px 2px 0px rgba(33, 0, 64, 0.4);
}



/********************************************************
PORTFOLIO CAROUSEL SECTION
********************************************************/


.carousel {
    display: none;
    position: relative;
    height: 60vh;
    width: 80%;
    margin: 5vh auto;

    &__button {
        height: 94%;
        background: rgba(0, 0, 0, 0.01);
        border: none;
        width: 20%;
        font-size: 2.5rem;
        color: rgb(56, 92, 133);
        cursor: pointer;
    }

    &__button:focus {
        outline: none;
        background: rgba(0, 0, 0, 0.04);
    }
}

.carousel__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel__track-container {
    background: transparent;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.carousel__track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
}

.carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel__button--right {
    right: 0;
}

.carousel__button--left {
    left: 0;
    z-index: 9999;
}

.is-hidden {
    display: none;
}

.carousel__porfolio-item--first {
    justify-self: center;
    align-self: center;
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 2px 2px 2px 2px;
    box-shadow:
        0 2px 6px rgba(0, 0, 0, 0.5),
        inset 0 1px rgba(255, 255, 255, 0.3),
        inset 0 10px rgba(255, 255, 255, 0.2),
        inset 0 10px 20px rgba(255, 255, 255, 0.25),
        inset 0 -15px 30px rgba(0, 0, 0, 0.3);
    background-image: url($imageTodoList);
    background-size: 100% 100%;
}

.carousel__porfolio-item--second {
    justify-self: center;
    align-self: center;
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 2px 2px 2px 2px;
    box-shadow:
        0 2px 6px rgba(0, 0, 0, 0.5),
        inset 0 1px rgba(255, 255, 255, 0.3),
        inset 0 10px rgba(255, 255, 255, 0.2),
        inset 0 10px 20px rgba(255, 255, 255, 0.25),
        inset 0 -15px 30px rgba(0, 0, 0, 0.3);
    background-image: url($imageWeatherApp);
    background-size: 100% 100%;
}

.carousel__porfolio-item--third {
    justify-self: center;
    align-self: center;
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 2px 2px 2px 2px;
    box-shadow:
        0 2px 6px rgba(0, 0, 0, 0.5),
        inset 0 1px rgba(255, 255, 255, 0.3),
        inset 0 10px rgba(255, 255, 255, 0.2),
        inset 0 10px 20px rgba(255, 255, 255, 0.25),
        inset 0 -15px 30px rgba(0, 0, 0, 0.3);
    background-image: url($imageDianellMorava);
    background-size: 100% 100%;
}



/********************************************************
CONTACT SECTION
********************************************************/
.contact {
    background-color: $mainDarkCollor;
    color: $mainLightCollor;
    height: 40vh;
    display: grid;
    grid-template-rows: 2;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 2vh;

    &__header-section {
        grid-column: 1/-1;
        font-size: 1.3rem;
        padding-top: 1.2vw;
        padding-left: 3rem;
        height: 15vh;
    }

    &__main-paragraph {
        padding-left: 3rem;
    }

    &__section {

        text-align: center;
        margin-left: -12vw;
    }

    &__section__child-header {
        font-size: 1rem;
    }

    &__icons {
        width: 3rem;
        background-color: $mainLightCollor;
    }
}


/********************************************************
FOOTER SECTION
********************************************************/

.footer {
    margin: 0;
    padding: 0;
    background-color: $mainDarkCollor;
    color: $mainLightCollor;
    z-index: 999999999999999;

    &__author {
        margin: 0;

        margin-right: 11.5%;
        text-align: end;
    }

    &--hide {
        display: none;
    }
}



/********************************************************
MEDIA QUERIES - 1100px
********************************************************/
@media only screen and (max-width: 1150px) {


    /********************************************************
    HERO SECTION
    ********************************************************/

    .hero-section {
        grid-template-rows: 8fr 1fr 2fr 1fr;

        grid-template-areas:
            "logo logo logo logo . header header header header header . ."
            ". . . . . paragraph paragraph paragraph paragraph . . ."
            ". . . . . button button . . . . ."
        ;

        &__logo {
            font-size: 22em;
        }

        &__button {
            align-self: end;
            justify-self: center;
            background-color: transparent;
            border: 2px solid $mainLightCollor;
            border-radius: 28px;
            color: $mainLightCollor;
            font-size: 1.6rem;
            grid-area: button;
            padding: 0.85rem 5rem;
            position: relative;
            transition: all 0.15s;
        }

        &__button:hover {
            background-color: $secondaryLightCollor;
            border: 2px solid $secondaryLightCollor;
            color: $mainDarkCollor;
            transition: all 0.15s;
        }
    }


    /********************************************************
    NAVBAR SECTION
    ********************************************************/
    .navbar {
        display: none;
    }


    /********************************************************
    ABOUT ME SETION
    ********************************************************/
    .about-me {
        height: 22vw;

        &__profile-picture {
            height: 22vw;
        }

        &__text-section {
            font-size: 15px;
            padding-right: 16%;
        }
    }


    /********************************************************
    PORTFOLIO SECTION
    ********************************************************/
    .portfolio {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
        grid-template-rows: auto;
        grid-template-rows: auto;
        height: 20rem;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    .item-description {
        display: grid;
        grid-template-rows: 2;
        background-color: $secondaryLightCollorOPA50;
        margin-left: 12.5%;
        width: 75%;

        &__header {
            text-align: center;
        }

        &__paragraph {
            padding: 1.5vw;
        }

        &--hide {
            display: none;
        }
    }






    /********************************************************
    CONTACT SECTION
    ********************************************************/
    .contact {
        background-color: $mainDarkCollor;
        color: $mainLightCollor;
        height: 40vh;
        display: grid;
        grid-template-rows: 2;
        grid-template-columns: repeat(3, 1fr);
        padding-bottom: 2vh;

        &__header-section {
            grid-column: 1/-1;
            font-size: 1.3rem;
            padding-top: 1.2vw;
            padding-left: 3rem;
            height: 15vh;
        }

        &__main-paragraph {
            padding-left: 3rem;
        }

        &__section {

            text-align: center;
            margin-left: 0vw;
        }

        &__section__child-header {
            font-size: 1rem;
        }

        &__icons {
            width: 3rem;
            background-color: $mainLightCollor;
        }
    }

    /********************************************************
    FOOTER SECTION
    ********************************************************/
    .footer {
        &__author {
            margin-right: 5.5%;
        }
    }
}



/********************************************************
MEDIA QUERIES - 800px
********************************************************/
@media only screen and (max-width: 800px) {


    /********************************************************
    Skills SETION
    ********************************************************/
    .skills {
        padding: 0vw 7vw;
        margin-bottom: 10vw;
    }


    /********************************************************
    ABOUT ME SETION
    ********************************************************/
    .about-me {
        height: 40vw;

        &__text-section {
            font-size: 18px;
        }

        &__profile-picture {
            height: 23vw;
            top: 6vh;
            right: -5vw;
        }
    }

    /********************************************************
    PORTFOLIO SETION
    ********************************************************/
    .portfolio {
        display: none;

        &__inner-content__header {
            margin-top: 0;
            padding-top: 35%;
            font-size: 2.5em;
            margin-bottom: 8%;
        }
    }

    .item-description {
        display: none;
    }

    .carousel {
        display: block;
        height: 80vw;
        width: 80vw;
        margin-bottom: 20vw;
    }

    .link--carousel {
        color: $mainLightCollor;
        -webkit-text-decoration: underline $mainLightCollor;
        text-decoration: underline $mainLightCollor;
        font-size: 1rem;
        font-weight: 400;
    }

    /********************************************************
    CONTACT SETION
    ********************************************************/
    .contact {
        height: 29vh;
    }
}

/********************************************************
MEDIA QUERIES - 420px
********************************************************/
@media only screen and (max-width: 420px) {



    .hero-section {
        grid-template-areas:
            "logo logo logo logo . . . . . . . ."
            ". . . header header header header header header header header header"
            ". . . . . . paragraph paragraph paragraph paragraph paragraph ."
            ". . . . . button button . . . . ."
        ;

        &__logo {
            font-size: 16em;
        }
    }


    .skills {
        padding: 0vw 2vw;
        margin-bottom: 20vw;

        &__main-header {
            margin-bottom: 1%;
        }
    }

    .chartjs-render-monitor {
        height: 200px !important;
        width: 398px !important;
        margin-left: -13%;
    }



    .about-me {
        grid-template-columns: 1fr;
        height: 90vw;

        &__profile-picture {
            display: none;
        }

        &__text-section {
            font-size: 1rem;
        }
    }


    .carousel {
        width: 100vw;
        height: 100vw;
    }

    .portfolio__inner-content__header {
        font-size: 1.5em;
    }


    .contact {
        height: 34vh;
    }


    /********************************************************
    CONTACT SECTION
    ********************************************************/
    .contact {
        height: 40vh;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 2vh;

        &__header-section {
            grid-column: 1/-1;
            font-size: 1.1rem;
            padding-top: 1.2vw;
            padding-left: 1rem;
            height: 17vh;
        }

        &__section {
            margin-left: 0vw;
        }


        &__section__child-header {
            display: none;
        }

        &__icons {
            width: 3rem;
            background-color: $mainLightCollor;
        }
    }

    .contact__section--email {
        transform: translateX(5%);
        grid-column: 1 /-1;
    }
}



/********************************************************
MEDIA QUERIES - 333px
********************************************************/
@media only screen and (max-width: 333px) {



    .hero-section {
        grid-template-areas:
            "logo logo logo logo . . . . . . . ."
            ". header header header header header header header header header header ."
            ". . . . . . paragraph paragraph paragraph paragraph paragraph ."
            ". . . . . button button . . . . ."
        ;

        &__logo {
            font-size: 14em;
        }
    }

    .about-me {
        height: 120vw;
        font-size: 0.9rem;
    }

    .contact {
        height: 50vh;
    }
}